<div class="splash__container">
  <div class="splash__title"><h3>MyBudget</h3></div>
  <div class="splash__session-btns">
    <%= link_to "LOG IN", new_user_session_path %>
    <%= link_to "SIGN UP", new_user_registration_path %>
  </div>
</div>
