/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "font-awesome";

:root {
  --color-blue: #3778c2;
  --color-green: #5fb523;
  --color-gray: #434b54;
}

body {
  position: relative;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#error_explanation {
  color: red;
}

.alert {
  color: red;
}

.notice {
  color: green;
}

.session-field {
  width: 100%;
  padding: 0.5rem;
  border: none;
}

.session-field-input {
  border: solid 1px rgba(176, 188, 176, 0.4);
  width: 100%;
  padding: 0.5rem;
}

/*
SPLASH SCREEN
*/

.splash__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.splash__title {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-style: italic;
}

.splash__session-btns {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.splash__session-btns > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  margin: 0.3rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: var(--color-blue);
  border-radius: 0.5rem;
}

/*
LOGIN,
REGISTER
*/

.txtactions {
  position: absolute;
  top: calc((100vh * 0.06) * 0.2);
  right: 0.5rem;
  background: transparent;
  border: solid 1px white;
  padding: 0.1rem;
  border-radius: 4px;
}

.txtactions > * {
  background: transparent;
  text-decoration: none;
  color: white;
  width: 100%;
  border: none;
  outline: none;
}

.session-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blue);
  color: white;
  padding: 0.5rem;
  height: calc(100vh * 0.06);
}

.session-header h2 {
  font-weight: 500;
  font-size: 1rem;
}

.back,
.back > * {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

/*
CATEGORIES
*/

.page-div {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.page-header-section {
  display: flex;
  flex-direction: column;
  background-color: var(--color-blue);
  color: white;
  padding: 0.3rem;
  height: 10vh;
}

.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.sign-out-btn {
  align-self: flex-end;
  margin-top: 0.2rem;
  padding: 0.4rem;
}

.page-mid-section {
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cat-item {
  list-style: none;
  border-bottom: 1px solid #cac6c6;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  color: var(--color-gray);
}

.cat-img-box {
  width: 4rem;
  height: 4rem;
}

.cat-img {
  width: 100%;
  height: 100%;
}

.cat-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.cat-sum {
  margin-left: auto;
}

.add-container {
  position: fixed;
  bottom: 0;
  margin-top: 9rem;
  height: calc(100vh * 0.1);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
  padding: 0.5rem;
}

.add-container button {
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 0.3rem;
  color: white;
  border: solid 1px white;
}

/*
ADD CATEGORY
*/

.save-btn {
  width: 95%;
  padding: 0.5rem;
  background-color: var(--color-green);
  border-radius: 4px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-btn:hover {
  cursor: pointer;
}

.save-btn > * {
  color: white;
  background: transparent;
  border: none;
  outline: none;
}

.add-container button > * {
  color: white;
}

/*
TRANSACTIONS
*/

.detail-header {
  text-align: center;
  margin-top: 0.5rem;
}

/*
ADD TRANSACTIONS
*/

.trans-p {
  text-align: center;
  margin-bottom: 0.5rem;
}

.trans-checks {
  width: 95%;
  margin: 0 auto 1rem;
  padding: 0.5rem;
}
